@font-face {
    font-family: "IntegralsUp";
    src: url("../fonts/STIXIntegralsUpD-Bold.otf");
}

@font-face {
    font-family: "SizeOneSym";
    src: url("../fonts/STIXSizeOneSym-Regular.otf");
}@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIAL.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALN.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: condensed;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALI.TTF') format('truetype');
            font-weight: 400;
            font-style: italic;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALNI.TTF') format('truetype');
            font-weight: 400;
            font-style: italic;
            font-stretch: condensed;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALBD.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALNB.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: condensed;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALBI.TTF') format('truetype');
            font-weight: 700;
            font-style: italic;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALNBI.TTF') format('truetype');
            font-weight: 700;
            font-style: italic;
            font-stretch: condensed;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIBLK.TTF') format('truetype');
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIAL.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALN.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: condensed;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALBD.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIALNB.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: condensed;
        }
@font-face {
            font-family: 'avnArial';
            src: url('../fonts/ARIBLK.TTF') format('truetype');
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnTimesNewRoman';
            src: url('../fonts/TIMES.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnTimesNewRoman';
            src: url('../fonts/TIMESI.TTF') format('truetype');
            font-weight: 400;
            font-style: italic;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnTimesNewRoman';
            src: url('../fonts/TIMESBD.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnTimesNewRoman';
            src: url('../fonts/TIMESBI.TTF') format('truetype');
            font-weight: 700;
            font-style: italic;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnTimesNewRoman';
            src: url('../fonts/TIMES.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnTimesNewRoman';
            src: url('../fonts/TIMESBD.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnWingdings';
            src: url('../fonts/WINGDING.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnWingdings';
            src: url('../fonts/WINGDING.TTF') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnWingdings';
            src: url('../fonts/WINGDING.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
        }
@font-face {
            font-family: 'avnWingdings';
            src: url('../fonts/WINGDING.TTF') format('truetype');
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
        }
